<!doctype html>
<html>

<head>
  <!-- build:css styles/options-vendor.css -->
  <!-- bower:css -->
  <!-- endbower -->
  <!-- endbuild -->
  <!-- build:css styles/main.css -->
  <link href="styles/main.css" rel="stylesheet">
  <!-- endbuild -->
</head>

<body ng-app="optionsApp">
  <div class="container">
    <h1>Granottifier Options</h1>
    <h4>Select options that you want to use</h4>
    <form class="form-horizontal" ng-submit="saveOptions()" ng-controller="OptionsController">

      <div class="form-group" ng-repeat="(key, option) in options">
        <div class="col-xs-12 col-sm-4">
          <input type="{{option.type}}" ng-disabled="{{option.disabled}}" class="{{option.class}}" ng-model="option.value" placeholder="{{option.placeholder}}" id="{{key}}">
          <label class="{{option.labelClass}}" for="{{key}}">{{option.label}}</label>
        </div>
        <div class="col-xs-12 col-sm-8">
          {{option.description}}
        </div>
      </div>

      <div class="form-group">
        <div class=" form-inlinecol-xs-12 col-sm-4">
          <input type="submit" class="btn-info" value="Save" id="submit">
        </div>
        <div class="col-xs-12 col-sm-8 text-muted  ">
          <div>Status: <span id="status"></span></div>
        </div>
      </div>
    </form>
  </div>

  <!-- build:js scripts/options-vendor.js -->
  <!-- bower:js -->
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
  <!-- endbower -->
  <!-- endbuild -->

  <!-- build:js scripts/options.js -->
  <script src="scripts/options/options.js"></script>
  <script src="scripts/options/options-controllers.js"></script>
  <script src="scripts/options/options-services.js"></script>
  <!-- endbuild -->
</body>

</html>
